<html>
<head>
	<title>Anti-Distraction Ap</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/index.css">

</head>
<body>
    <div>
	    <h1 align=center>Anti-Distraction App</h1><br>
		<h1 align=center>Time to work?</h1><br><br>
		<img class=img-responsive id="brain" src="brain.jpg"><br>
    </div>
    <div id="footer" align=center >
        <div id="id01" class="modal">
	        <!-- Modal Content -->
	        <form class="modal-content animate" action="/action_page.php">
		        <div class="imgcontainer"></div>
		        <div align=center>
			<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span><br>
		            <label for="uname"><b>Username</b></label>
		            <input type="text" placeholder="Enter Username" name="uname" required>
		            <label for="psw"><b>Password</b></label>
		            <input type="password" placeholder="Enter Password" name="psw" required>
					<br><br>
		            <label>
		                <input type="checkbox" checked="checked" name="remember"> Remember Me
		            </label>
		        </div>
	        </form>
	        <a id="Login" href=page2>Login</a>
        </div>
    </div>
</body>
</html>
