<html>
<head>
	<title>Anti-Distraction App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/index.css">

</head>
<body>
	<div id="body">
		<h3  align=center>How long will you work for?</h3>
		<select class="dropdownmenu">
          <option value="1">20 minutes</option>
          <option value="2">30 minutes</option>
          <option value="3">40 minutes</option>
          <option value="4">50 minutes</option>
        </select>
		<br>
		<h3  align=center>What is your goal for this work session?</h3>
		<div align=center> <input type="text" id="goal" name="goal">
			<h3  align=center>What is your biggest distractor when you work on the computer?</h3>
			<div align=center> <input type="text" id="distraction" name="distraction">
		</div>
        <br>

        </select><br><br>
	</div><br>
	<div id="footer" align=center >
		<a id="start" href=page3>Ready</a>
	</div>

</body>
</html>
