<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css">
    <title>Chronometer</title>

    <style>
        body {
            font-family: monospace;
            font-size: 2em;
            padding-top: 1em;
            text-align: center;
        }
    </style>
</head>
<body>

	<div id="timer" align=center>
	    <h3>Time Elapsed</h3>
	    <h4>Hr Min Sec</h4>
	
    	<!--timer placeholder-->
        <h2 data-chronometer>00:00:00</h2>
        <button id="play">Play</button>
        <button id="pause">Pause</button>
        <button id="reset">Reset</button>
        <br><br>
    </div>
    
    <div id="footer" align=center >
		<a id="break" href=breaktime>Take a Break</a>
	</div>

    <!--timer script-->
    <script type="text/javascript">
        let hours = `00`,
            minutes = `00`,
            seconds = `00`,
            chronometerCall
        function chronometer() {
            seconds++
            if (seconds < 10) seconds = `0`+seconds
            if (seconds > 59) {
                seconds = `00`
                minutes ++
                if (minutes < 10) minutes = `0`+minutes
            }
            if (minutes > 59) {
                minutes = `00`
                hours ++
            }
            document.querySelector(`[data-chronometer]`)
                    .textContent = `${hours}:${minutes}:${seconds}`
        }
        play.onclick = (event) => {
            chronometerCall = setInterval(chronometer, 1000)
            event.target.setAttribute(`disabled`,``)
        }
        pause.onclick = () => {
            clearInterval(chronometerCall)
            play.removeAttribute(`disabled`)
        }
        reset.onclick = () => {
            reset.onclick = () => {
		    hours = '00',
		    minutes = '00',
		    seconds = '00'
            }
        }
    </script>
    
</body>
</html>
